<h1>SHOW details of a task</h1>

<p><%= @task.details %></p>


<% if @task.completed == true %>
  <div class="d-inline">
    <i class="fa-sharp fa-solid fa-square-check"></i>
    Completed
  </div>
<% elsif @task.completed == false %>
  <div class="d-inline">
    <i class="fa-sharp fa-light fa-square-check"></i>
    This task is not complete
  </div>
<% end %>



<div class="container">
<%= link_to "Edit this Task", task_edit_path %>
<%= link_to "Go Back to Tasks", tasks_path %>
<%= link_to "Delete this Task", task_delete_path(@task),  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
</div>
