<h1>SHOW details of a task</h1>

<div class="container">
  <div class="row b-s-5">
    <h4>Task Details:</h4>
    <p><%= @task.details %></p>
  </div>

  <div class="row">
    <% if @task.completed == true %>
      <div class="d-inline">
        <i class="fa-solid fa-circle-check fa-beat" style="color: #27c44e;"></i>
        Completed
      </div>
    <% elsif @task.completed == false %>
      <div class="d-inline">
        <i class="fa-regular fa-circle-xmark fa-bounce" style="color: #ff1100;"></i>
        This task is not complete
      </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row justify-content-start">
    <div class="col">
      <%= link_to "Edit this Task", task_edit_path %>
    </div>
    <div class="col">
      <%= link_to "Go Back to Tasks", tasks_path %>
    </div>
    <div class="col">
      <%= link_to "Delete this Task", task_delete_path(@task),  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    </div>
  </div>
</div>
